@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,200&display=swap');
*{
font-family: 'Montserrat Alternates';
margin: 0;
padding: 0;
box-sizing: border-box;}
body.anasayfa {
    background-image: url(/görseller/pexels-pixabay-260922.jpg);
    background-repeat: no-repeat;
    background-position: center ;
    background-attachment: fixed;
    background-size: cover; 
}

header{
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       background-color:gray ;
       align-items: center;
       padding: 15px 100px;
       position: fixed;
       
}
.logo{
    position: relative;
    width: 150px;
    height: 100px;
    float: left;
}
.nav{
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 100px;
}
li {
    list-style: none;
    margin: 80px;
}
li a{
    text-decoration: none;
    color: white;
    position: absolute;
    top: 50px;
}
.anasayfa{
    width: 1920px;
    height: 1080px;
    position:absolute;
    top: 18%;  
}
img{
    margin: 0;
    max-width: 100%;
    max-height: 100%;
}
nav.a{
  display: flex;
  justify-content: center;
  margin-top: 25px;  
  font-size: 35px;
}
body.Hakkımızda{
    background-color:burlywood;
}
header.hakkımızda{
    background-color:antiquewhite;
}
